@use "../../assets/styles/fonts.scss";
@use "../../assets/styles/variables.scss";
.section{
  &Main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    background-color: #FFF;
    padding: 1.75rem;
    gap: 1.35rem;
    overflow: hidden;
    @media screen  and (max-width: variables.$tablet) {
      gap: 1rem;
      padding: 1.5rem;
    }
    &Info{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.65rem;
      justify-content: center;
      width: 100%;
      @media screen and (max-width: variables.$tablet) {
        gap: 1.35rem;
      }
      &Guide{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
        justify-content: center;
        width: 100%;
        @media screen and (max-width: variables.$tablet) {
          gap: 2rem;
        }
      }
    }
  }
  &Header{
    @extend .roboto-900;
    font-size: 1.8rem;
    color: #33353F;
    line-height: normal;
    text-align: center;
    @media screen and (max-width: variables.$tablet) {
      font-size: 1.2rem;
    }
  }
}
.lineContainer{
  height: 5px;
  width: 11.5rem;
  background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(154,0,0,1) 100%);
  border-radius: 8px;
  @media screen and (max-width: variables.$tablet) {
    width: 15rem;
  }
}

.desc{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  @media screen and (max-width: variables.$tablet) {
      gap: 1rem;
  }
  &Logo{
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 1px 10px 0px #00000080;
    @media screen and (max-width: variables.$tablet) {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
  &Text{
    @extend .roboto-500;
    max-width: 46rem;
    font-size: 1rem;
    line-height: normal;
    text-align: center;
    @media screen and (max-width: variables.$tablet) {
      font-size: 0.8rem;
      max-width: inherit;
    }

    &Link{
      @extend .roboto-500;
      text-align: center;
      text-decoration: underline;
      text-decoration-style: solid;
      color: rgba(255,0,0,1);
    }
  }
}

.selector{
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  @media screen and (max-width: variables.$tablet) {
    gap: 1rem;
  }
  &Item{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    cursor: pointer;

    &Point{
      width: 0.8rem;
      height: 0.8rem;
    }
    &Text{
      @extend .roboto-700;
      font-size: 0.9rem;
      white-space: nowrap;
      width: 100%;
    }
  }
}

.buttonContainer{
  width: 16rem;
  @media screen and (max-width: variables.$tablet) {
    display: none;
  }
}
.mouse{
  img{
    animation: moveUpDown 2s ease-in-out infinite;
    @media screen and (max-width: variables.$tablet) {
      display: none;
    }
  }

  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
}