@use "fonts.scss";
@use "normalize.scss";

html{
  overflow-x: hidden;
  font-size: calc(20px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
  @media screen and (max-width: 992px) {
    font-size: calc(14px + (16 - 12) * ((100vw - 320px) / (768 - 320)));
  }
}