@use "../../assets/styles/fonts.scss";
button{
  @extend .roboto-500;
  font-size: 24px;
    cursor: pointer;
    border: none;
    background: rgb(255,0,0);
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(154,0,0,1) 100%);
    padding: 10px;
    border-radius: 8px;
    color: white;
}